<div class="row" >
    <a href="{{ site.baseurl | replace: '//', '/' }}/" class="logo noline">
        <svg version="1.1" viewBox="0 0 500 240" class="ts-full">
            <g transform="translate(-220,-330)">
                <text x="200" y="550" class="gridster">
                    <tspan x="235.15662" y="477.12143">Welcome</tspan>
                </text>
        		
            </g>
            <g transform="translate(-100,-340)">
				<text x="400" y="0" class="slogan">
        			<tspan x="304.80173" y="512.31683">to my website</tspan>
        		</text>
            </g>
        </svg>
    
    </a>
</div>
