<div style="display:block; position:relative; display:block; margin:auto; min-width:200px; height: auto" >
	
    <video  style="display:block" controls loop="loop">
        <source src="{{ site.baseurl | replace: '//', '/' }}/{{ site.media_folder | replace: '//', '/'}}/{{ include.param }}" type="video/webm" />
    </video>
	
    <!--
    <iframe src="{{ site.baseurl | replace: '//', '/' }}/{{ include.param }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    -->
</div>
