.content_container{
    width: 80%;

    @media screen and (max-width: $sidebarcollapse){
        width: 100%;
    }

    .full &{
        width: 100%;
    }

    .post_title{
        color: $a_color;
        padding: 25px 0px 2px;
        font-size: 2.5em;
    }

    .meta{
        margin: 2px 10px;
        padding: 2px 0px 45px;
        border-top: $box_line;
        border-bottom: $box_line;
    }

    .featsection{
        margin: 20px 0px;
    }

    .post_content{
        width: 92%;
        @extend %center;
        font-size: 1.2em;
        line-height: 2;
    }

    .catsandtags{
        margin: 5px 0px;
        padding: 5px 0px;
        border-top: $box_line;
        border-bottom: $box_line;
        line-height: 1.5;

        .category,{
            margin: 15px 0px 3px;
            padding: 5px 0px;
            background: $lightgray;
        }
        .tags{
            margin: 3px 0px 15px;
            padding: 5px 0px;
            background: $lightgray;
            .name{
                font-weight: $medium;
                padding: 0px;
            }
        }

        a{
            padding: 0px;
            background: $mediumgray;
            border: $box_line;
        }
    }

    .post_nav{
        @extend %clearfix;
        margin: 20px 0;

        a{
            padding: 5px 10px;
            border: $line;
            background: $white;
        }

        .prev{
            float: left;
        }

        .next{
            float: right;
        }

        @media screen and (max-width: 490px){
            .long{
                display: none;
            }
        }

        @media screen and (max-width: 318px){
            .short{
                display: none;
            }
        }
    }
}
