.sidebar{
    width: calc(18% - 20px);

    @media screen and (max-width: $sidebarcollapse){
        width: 100%;

        .index &{
            display: none;
        }
    }

	.title{
	    width: 100%;
	    font-size: 1.1em;
        text-align: left;
	}
}
